.sheet{
	width: 1000px;
	height: 700;
	border: 1px solid black;
	background-color: rgb(245, 233, 218);
	margin: 40px;
}

.p1 {
	border: 1px solid black;
	text-align: center;
	flex-grow: 1;
	margin: 10px;
}

.p2 {
	border: 1px solid black;
	text-align: center;
	flex-grow: 1;
	margin: 10px;
}

.institution {
	padding: 5px;
	justify-content: center;
	width: 600px;
	height: 154px;
	display: flex;	
}

li {
	padding: 5px;
	margin: 5px;
}

h1 {
	text-align: center;
}

table,
th,
td {
	border: 1px solid grey;
	text-align: center;
	margin: 5px;
}

th,
td {
	padding: 5 px;
}

caption {
	font-size: 20px;
	color: #070707;
	font-weight: bold;
}