game<div class="container">
    <div class="C">

        
        <div class="life-needs">
            <div class="life">
                <div class="life-dark"></div>
                <div class="life-green"></div>
                <div class="star">30</div>
            </div>

            <div class="power">
                <div class="power-blue">25/25</div>
                <div class="power-dark"></div>
                <div class="lightning"></div>
            </div>

            <div class="money">
                <div class="monet"></div>
                6037
            </div>
            <div class="super-power ">
                <div class="diamond"></div>
                728
            </div>
        </div>



        <div class="uniform">
            <div class="uniform-left">
                <div class="molot propierties-armor">
                    <div class="armor-lyk"></div>
                    <div class="armor-molot"></div>
                    <div class="molot-text armor-text">Ур.40</div>
                </div>
                <div class="ring propierties-armor">
                    <div class="armor-ring"></div>
                    <div class="armor-ring2"></div>
                    <div class="arrow"></div>
                    <div class="bottom-frame"></div>
                    <div class="top-frame"></div>
                    <div class="ring-text armor-text">Ур.19</div>
                </div>
                <div class="friend propierties-armor">
                    <div class="armor-foot"></div>
                    <div class="armor-friend"></div>
                    <div class="arrow"></div>
                    <div class="friend-text armor-text">Ур.20</div>
                </div>
                <div class="bracelet propierties-armor">
                    <div class="armor-bracelet"></div>
                    <div class="armor-bracelet2"></div>
                    <div class="bottom-frame"></div>
                    <div class="top-frame"></div>
                    <div class="bracelet-text armor-text">Ур.30</div>
                </div>
            </div>



            <div class="personage">
                <div class="text">
                    <p>Трики</p>
                </div>
            </div>



            <div class="uniform-right">
                <div class="form propierties-armor">
                    <div class="armor-uniform"></div>
                    <div class="armor-form"></div>
                    <div class="arrow"></div>
                    <div class="form-text armor-text">Ур.20</div>
                </div>
                <div class="super-ring propierties-armor">
                    <div class="armor-ring"></div>
                    <div class="armor-ring2"></div>
                    <div class="arrow"></div>
                    <div class="bottom-frame"></div>
                    <div class="top-frame"></div>
                    <div class="ring-text armor-text">Ур.19</div>
                </div>
                <div class="dog propierties-armor">
                    <div class="armor-foot"></div>
                    <div class="armor-dog"></div>
                    <div class="bottom-frame"></div>
                    <div class="top-frame"></div>
                    <div class="dog-text armor-text">Ур.30</div>
                </div>
                <div class="kylon propierties-armor">
                    <div class="armor-kylon"></div>
                    <div class="armor-kylon2"></div>
                    <div class="arrow"></div>
                    <div class="kylon-text armor-text">Ур.15</div>
                </div>
            </div>

        </div>



        <div class="bonuses">
            <div class="health bonuses-properties">
                <div class="health-skill"></div>
                <div class="health-star"></div>
            </div>
            <div class="crit bonuses-properties">
                <div class="crit-skill"></div>
            </div>
            <div class="dead bonuses-properties">
                <div class="dead-skill"></div>
            </div>
            <div class="e4 bonuses-properties">
                <div class="health-skill"></div>
                <div class="shadow"></div>
                <div class="shoe"></div>
                <div class="health-star"></div>
            </div>
            <div class="e5 bonuses-properties">
                <div class="e5-skill"></div>
                <div class="shadow"></div>
                <div class="shoe"></div>
                <div class="health-star"></div>
            </div>
        </div>
    </div>


    <div class="button-panel">
        <button class="rarity">По рідкості </button>
        <button class="hero">
            <div class="panel-arrow"></div>
            Герої
        </button>
        <button class="smithy">Кузня</button>
    </div>



    <div class="armor">
        <div class="items-conteiner">
            <div class="item1 properties-item">
                <div class="armor-ring"></div>
                <div class="armor-ring2"></div>
                <div class="bottom-frame"></div>
                <div class="top-frame"></div>
                <div class="text-ring-item text-item">Ур.1</div>
            </div>
            <div class="item2 properties-item">
                <div class="armor-lyk"></div>
                <div class="item-lyk"></div>
                <div class="lyk-text text-item">Ур.14</div>
            </div>
            <div class="item3 properties-item">
                <div class="armor-lyk"></div>
                <div class="item-dusk"></div>
                <div class="dusk-text text-item">Ур.7</div>
            </div>
            <div class="item4 properties-item">
                <div class="armor-lyk"></div>
                <div class="item-dusk"></div>
                <div class="dusk-text text-item">Ур.1</div>
            </div>
            <div class="item5 properties-item">
                <div class="armor-lyk"></div>
                <div class="armor-molot"></div>
                <div class="molot-text text-item">Ур.1</div>
            </div>
            <div class="item6 properties-item">
                <div class="armor-lyk"></div>
                <div class="arbalet"></div>
                <div class="arbalet-text text-item">Ур.24</div>
            </div>
            <div class="item7 properties-item">
                <div class="armor-lyk"></div>
                <div class="arbalet"></div>
                <div class="arbalet-text text-item">Ур.1</div>
            </div>
            <div class="item8 properties-item">
                <div class="armor-uniform"></div>
                <div class="uniform-item"></div>
                <div class="uniform-text text-item">Ур.5</div>
            </div>
            <div class="item9 properties-item">
                <div class="armor-bracelet"></div>
                <div class="armor-bracelet2"></div>
                <div class="bottom-frame"></div>
                <div class="top-frame"></div>
                <div class="bracelet-item-text text-item">Ур.30</div>
            </div>
            <div class="item10 properties-item">
                <div class="armor-uniform"></div>
                <div class="super-uniform"></div>
                <div class="super-uniform-text text-item">Ур.20</div>
            </div>
            <div class="item11 properties-item">
                <div class="armor-ring"></div>
                <div class="armor-ring2"></div>
                <div class="text-ring-item text-item">Ур.1</div>
            </div>
            <div class="item12 properties-item">
                <div class="armor-ring"></div>
                <div class="item-super-ring"></div>
                <div class="text-ring-item2 text-item">Ур.1</div>
            </div>
            <div class="item13 properties-item">
                <div class="armor-foot"></div>
                <div class="item-zombi"></div>
                <div class="text-zombi text-item">Ур.8</div>
            </div>
            <div class="item14 properties-item">
                <div class="armor-kylon"></div>
                <div class="item-super-kylon"></div>
                <div class="text-super-kylon text-item">Ур.10</div>
            </div>
            <div class="item15 properties-item item-blue">
                <div class="armor-lyk"></div>
                <div class="item-lyk"></div>
                <div class="lyk-text text-item">Ур.1</div>
            </div>
            <div class="item16 properties-item item-blue">
                <div class="armor-lyk"></div>
                <div class="item-lyk"></div>
                <div class="lyk-text text-item">Ур.1</div>
            </div>
            <div class="item17 properties-item item-blue">
                <div class="armor-uniform"></div>
                <div class="armor-form"></div>
                <div class="blue-uniform-text text-item"> Ур.1</div>
            </div>
            <div class="item18 properties-item item-blue">
                <div class="armor-uniform"></div>
                <div class="armor-form"></div>
                <div class="blue-uniform-text text-item"> Ур.1</div>
            </div>
            <div class="item19 properties-item item-blue">
                <div class="armor-uniform"></div>
                <div class="item-uniform-black"></div>
                <div class="black-uniform-text text-item"> Ур.1</div>
            </div>
            <div class="item20 properties-item item-blue">
                <div class="armor-ring"></div>
                <div class="item-blue-ring"></div>
                <div class="blue-ring-text text-item"> Ур.1</div>
            </div>
            <div class="item21 properties-item item-blue">
                <div class="armor-ring"></div>
                <div class="item-blue-ring"></div>
            </div>
            <div class="item22 properties-item item-blue">
                <div class="armor-ring"></div>
                <div class="armor-ring2"></div>
            </div>
            <div class="item23 properties-item item-blue">
                <div class="armor-foot"></div>
                <div class="item-zombi"></div>
            </div>
            <div class="friend properties-item item-blue">
                <div class="armor-foot"></div>
                <div class="armor-friend"></div>
            </div>
            <div class="dog properties-item item-blue">
                <div class="armor-foot"></div>
                <div class="armor-dog"></div>
            </div>


        </div>
        <div class="menu">
            <div class="skrynia">
                <div class="skrynia2"></div>
                <div class="monet-skrynia"></div>
            </div>
            <div class="equipment">
                <div class="equipment2"></div>
                <div class="eq-text">Екіпірування</div>
            </div>
            <div class="map">
                <div class="map2"></div>
            </div>
            <div class="arrows">
                <div class="menu-arrows"></div>
            </div>
            <div class="goal">
                <div class="menu-round"></div>
                <div class="menu-cil"></div>
            </div>
        </div>